

.warning {
  background-color: #f3f3f3;
  height: 45px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.warning span {
  margin-left: 0.5rem;
  font-weight: 500;
}

svg {
  display: block;
}
