<div class="container">
  <div class="form">
    <div class="row divider-btm">
      <div class="col-12"></div>
    </div>
    <div class="row">
      <div class="col-8 divider-rght">
        <div class="row mt-5 mb-5">
          <div class="col-10 offset-2">
            <h4>
              <span>New meeting</span>
            </h4>
            <div class="row mt-5">
              <h5>
                <span>Meeting type</span>
              </h5>
              <div class="col-12 mt-2">
                <button type="button" class="btn btn-outline-dark">
                  Board meeting
                </button>
                <button type="button" class="btn btn-outline-dark ms-3">
                  General assembly
                </button>
                <button type="button" class="btn btn-outline-dark ms-3">
                  Other
                </button>
              </div>
            </div>
            <div class="row mt-5">
              <h5>
                <label>Meeting name</label>
              </h5>
              <div class="col-10 mt-2">
                <input
                  type="search"
                  class="form-control"
                  value="CompanyName Board meeting No.12"
                />
              </div>
            </div>

            <div class="row mt-5">
              <h5>
                <label>Date and time</label>
              </h5>
              <div class="col-10 mt-2">
                <div class="input-group">
                  <!-- <input
                class="form-control"
                placeholder="dd/mmm/yyyy"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
              /> -->
                  <!-- <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
