<div class="container">
  <div class="row divider-btm">
    <div class="col-12"></div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-8 divider-rght">
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <h4>
              <span>New meeting</span>
            </h4>

            <app-meeting-type></app-meeting-type>
            <app-meeting-name></app-meeting-name>
            <app-date-and-time></app-date-and-time>
            <app-location></app-location>
            
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row mt-5 ms-4">
          <h5>
            <label>Invitees</label>
          </h5>
          <ul class="nav nav-tabs divider-btm">
            <li class="nav-item">
              <h6 class="nav-link" href="#">Board</h6>
            </li>
            <li class="nav-item">
              <h6 class="nav-link" href="#">Guests</h6>
            </li>
          </ul>
          <div class="col-12 mt-2">
            <input
              type="search"
              class="search form-control mb-3 mt-3"
              placeholder="Search..."
            />
            <p class="xsmall">
              Invite guest by adding their e-mail - they get just the
              invitation, no access to docs etc.
            </p>
            <input
              type="search"
              class="form-control mb-3 mt-3"
              placeholder="Email address..."
            />
            <button type="button" class="btn btn-dark mb-3" disabled>
              Add guest
            </button>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="all"
                checked
              />

              <label class="form-check-label ms-2 mt-1" for="all">All</label>
            </div>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invitee"
              />
              <label class="form-check-label ms-2 mt-1" for="invitee"
                >Invitee name</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
