<div class="container">
  <div class="form">
    <div class="row divider-btm">
      <div class="col-12"></div>
    </div>
    <div class="row">
      <div class="col-8 divider-rght">
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <h4>
              <span>New meeting</span>
            </h4>
            <div class="row mt-5">
              <h5>
                <span>Meeting type</span>
              </h5>
              <div class="col-12 mt-2">
                <button type="button" class="btn btn-outline-dark">
                  Board meeting
                </button>
                <button type="button" class="btn btn-outline-dark ms-3">
                  General assembly
                </button>
                <button type="button" class="btn btn-outline-dark ms-3">
                  Other
                </button>
              </div>
              <div class="col-9 mt-3">
                <div class="small warning">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-exclamation-circle"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                      />
                      <path
                        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
                      />
                    </svg>
                  </span>

                  <span>
                    This meeting will be attended by all shareholders. Mind what
                    you're sharing.
                  </span>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <h5>
                <label>Meeting name</label>
              </h5>
              <div class="col-10 mt-2">
                <input
                  type="search"
                  class="form-control"
                  value="CompanyName Board meeting No.12"
                />
              </div>
            </div>

            <div class="row mt-5">
              <h5>
                <label>Date and time</label>
              </h5>
              <div class="col-10 mt-2">
                <div class="input-group">
                  <!-- <input
                class="form-control"
                placeholder="dd/mmm/yyyy"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
              /> -->
                  <!-- <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button> -->
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <h5>
                <label>Location</label>
              </h5>
              <div class="col-10 mt-2">
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="address"
                  />
                  <label class="form-check-label ms-2 mt-1" for="address"
                    >Address</label
                  >
                </div>
                <input
                  type="search"
                  class="form-control mb-3"
                  placeholder="Address..."
                  disabled
                />
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="online"
                    checked
                  />
                  <label class="form-check-label ms-2 mt-1" for="online"
                    >Online meeting</label
                  >
                </div>
                <input
                  type="search"
                  class="form-control"
                  placeholder="Paste meeting link..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row mt-5 ms-4">
          <h5>
            <label>Invitees</label>
          </h5>
          <ul class="nav nav-tabs divider-btm">
            <li class="nav-item">
              <h6 class="nav-link" href="#">Board</h6>
            </li>
            <li class="nav-item">
              <h6 class="nav-link" href="#">Guests</h6>
            </li>
          </ul>
          <div class="col-12 mt-2">
            <input
              type="search"
              class="search form-control mb-3 mt-3"
              placeholder="Search..."
            />
            <p class="xsmall">
              Invite guest by adding their e-mail - they get just the
              invitation, no access to docs etc.
            </p>
            <input
              type="search"
              class="form-control mb-3 mt-3"
              placeholder="Email address..."
            />
            <button type="button" class="btn btn-dark mb-3" disabled>
              Add guest
            </button>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="all"
                checked
              />

              <label class="form-check-label ms-2 mt-1" for="all">All</label>
            </div>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invitee"
              />
              <label class="form-check-label ms-2 mt-1" for="invitee"
                >Invitee name</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
