p {
  font-family: TTNorms-Medium;
}

.divider-btm {
  border-bottom: 1px solid #bebbc5;
}

.divider-rght {
  border-right: 1px solid #bebbc5;
}

input:not([type='checkbox']) {
  height: 38px;
}

input:disabled {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

::placeholder {
  opacity: 50%;
}
.form-check-input {
  height: 25px;
  width: 25px;
}

.form-check-input:checked[type='checkbox'] {
  background-color: #212529;
  border-color: #212529;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #212529;
  border-left: none;
  border-right: none;
  border-top: none;
}
.nav-tabs .nav-link.active {
  border-bottom: 3px solid #212529;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  cursor: pointer;
}

/* .nav-tabs > li.active > h6,
.nav-tabs > li.active > h6:focus,
.nav-tabs > li.active > h6:hover {
  border: 0;
  color: #212529;
} */

.nav-tabs .nav-link {
  color: #aaafbc;
}
