.divider-btm {
  border-bottom: 1px solid #bebbc5;
}

.divider-rght {
  border-right: 1px solid #bebbc5;
}

input:not([type='checkbox']) {
  height: 38px;
}

input:disabled {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

::placeholder {
  opacity: 50%;
}
.form-check-input {
  height: 25px;
  width: 25px;
}

.form-check-input:checked[type='checkbox'] {
  background-color: #212529;
  border-color: #212529;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #212529;
  border-left: none;
  border-right: none;
  border-top: none;
}
.nav-tabs .nav-link.active {
  border-bottom: 3px solid #212529;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  cursor: pointer;
}

.nav-tabs .nav-link {
  color: #aaafbc;
}

.search {
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.xsmall {
  font-size: 0.75rem;
}

button:disabled {
  color: #aaafbc;
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.warning {
  background-color: #f3f3f3;
  height: 45px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.warning span {
  margin-left: 0.5rem;
  font-weight: 500;
}

svg {
  display: block;
}
