<li class="nav-item">
  <button
    class="nav-link"
    id="guests-tab"
    data-bs-toggle="tab"
    data-bs-target="#guests"
    type="button"
    role="tab"
  >
    Guests
  </button>
</li>

<div class="col-12 mt-2">
  <div class="tab-content" id="myTabContent">
    <div class="tab-panel fade" id="guests" role="tabpanel">
      <p class="xsmall">
        Invite guest by adding their e-mail - they get just the invitation, no
        access to docs etc.
      </p>
      <input
        type="search"
        class="form-control mb-3 mt-3"
        placeholder="Email address..."
      />
      <button type="button" class="btn btn-dark mb-3" disabled>
        Add guest
      </button>
    </div>
  </div>
</div>
