<div class="row mt-5">
  <h5>
    <label>Date and time</label>
  </h5>
  <div class="col-10 mt-2">
    <div class="input-group">
      <!-- <input
              class="form-control"
              placeholder="dd/mmm/yyyy"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
            /> -->
      <!-- <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              ></button> -->
    </div>
  </div>
</div>
